@import '../../styles/tokens.css';

.burger-menu {
    display: none;
}


@media screen and (max-width: 1024px) {

    .burger-menu {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .burger-button {
        position: fixed;
        top: var(--spacing-md);
        left: var(--spacing-md);
        margin: var(--spacing-md);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 10;
    }

    .burger-button:focus {
        /* Removes the outline when the button is focused */
        outline: none;
    }

    .burger-line {
        width: 2rem;
        height: 0.14rem;
        background: var(--color-text);
        border-radius: var(--radius-sm);
        transition: var(--transition-base);
        position: relative;
        transform-origin: 1px;
    }

    .burger-menu.open .burger-line:first-child {
        transform: rotate(45deg);
    }

    .burger-menu.open .burger-line:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open .burger-line:nth-child(3) {
        transform: rotate(-45deg);
    }
}